.pagina-06 {
    background: transparent;
    width: 100%;
    background: transparent;
    text-align: center;
}

.pagina-06-container-titulo {
    background: transparent;
    color: azure;
    padding-top: 1em;
}

.pagina-06-container-titulo h2 {
    background: transparent;
    font-size: 36px;
}

.pagina-06-container-titulo p {
    background: transparent;
    font-size: 14px;
    padding: 0 1em;
}

.swiper-slide {
    background: transparent;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.swiper-slide img {
    width: 70%;
}

.swiper-button-prev {
    background: transparent;
}

.swiper-button-next {
    background: transparent;
}

.pagina-06-container-lista {
    background: transparent;
    padding: 1em 0;
    margin: 1em;
}

.pagina-06-container-lista h2 {
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    margin: .5em;
    color: azure;
}

.pagina-06-lista {
    background: transparent;
    display: flex;
    flex-direction: column;
}

.pagina-06-lista-item {
    background: transparent;
    display: flex;
    align-items: center;
    margin: 0 1em;
}

.pagina-06-lista-item-img {
    background: transparent;
    width: 1.5em;
    margin-right: .2em;
}

.pagina-06-lista-item-txt {
    background: transparent;
    font-size: 14px;
    color: azure;
}

.pagina-06-container-button {
    background: transparent;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em;  
}

.pagina-06-container-button h2 {
    background: transparent;
    color: azure;
    font-size: 36px;
    margin: .5em 0;
}

.pagina-06-container-button a {
    background: transparent;
    text-decoration: none;    
    padding: .5em;
}

.pagina-06-container-button button {
    text-decoration: none;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    color: azure;
    border: none;
    background: #448232;
    border-radius: 8px;
    padding: 1em;
}

.pagina-06-container-button img {
    background: transparent;
    padding-right: .5em;
    width: 2em;
}

.pagina-06-compra-segura {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina-06-compra-segura-img {
    width: 1em;
    margin: 0 .5em;
}

.pagina-06-compra-segura-txt {
    font-size: 12px;
    color: lightgray;
}